.container {
    position: relative;
  }
  
  .slidingDiv {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    position: absolute;
    top: 0;
    right: -200px;
    transition: right 0.5s ease;
  }
  
  .show {
    right: 0;
  }