*img {
  width: 100%;
}

.bgc_body {
  background-color: #1b252f;
  padding: 0;
  box-sizing: border-box;
}

.body_container {
  background-image: url(../img/TOP09/list_top_bg.jpg);
  position: relative;
  z-index: 0;
  min-width: 950px;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  background-color: #0a141e;
  background-size: 100% auto;
  background-repeat: no-repeat;
  box-sizing: border-box;
  /*讓圖像只顯示一個*/
}

@media (min-width: 760px) {
  .container_content {
    width: 100%;
    background-size: 100% auto;
  }
}

.container_content {
  position: relative;
  /*讓圖像只顯示一個*/
}

.background_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-image: url(../img/TOP09/pokedex_bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  /*讓圖像只顯示一個*/
  z-index: 1;
}

.pokemon-list_header {
  width: 100%;
}

.list-header-sp {
  position: absolute;
  max-width: 100%;
  margin: 0 43%;
  padding: 0 2%;
  top: 1.5%;
  z-index: 2;
  font-size: 25px;
  color: black;
  text-align: center;
  flex-wrap: nowrap;
}

/* 中間部分 s */
.pokemon_list_main {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 600px;
}

.pokemon_img {
  width: 100%;
  height: 540px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 定義動畫 */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 應用到圖片 */
.pokemon_img_block {
  animation: spin 2.5s linear infinite;
  /* 2.5秒鐘轉一圈，線形變化，無限循環 */
  width: 100%;
  display: block;
  position: relative;
  top: 0px;
}

.pokemon_img_block img {
  max-width: 100%;
  /*讓圖片寬度不超過父元素寬度*/
  height: auto;
}

/* 定義動畫 e */
.main-image_center {
  position: absolute;
  width: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-image_center img {
  background-image: url(../img/TOP09/random_center_bg.png);
  width: 100%;
  background-size: 100% auto;
  padding: 8%;
  position: relative;
  left: -20px;
  opacity: 0;
  /* 開始時不可見 */
  animation-name: fix_pokemon;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  /* 可選的延遲時間 */
  animation-fill-mode: both;
}

@keyframes fix_pokemon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.small-images {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.small-images img {
  background-image: url(../img/TOP09/random_bg.png);
  width: 100%;
  background-size: 100% auto;
  padding: 5%;

}

.fix_01 img {
  opacity: 0;
  /* 開始時不可見 */
  animation-name: fix_pokemon;
  animation-duration: 1.5s;
  animation-delay: 0.7s;
  /* 可選的延遲時間 */
  animation-fill-mode: both;
}

.fix_02 img {
  opacity: 0;
  /* 開始時不可見 */
  animation-name: fix_pokemon;
  animation-duration: 1.5s;
  animation-delay: 0.9s;
  /* 可選的延遲時間 */
  animation-fill-mode: both;
}

.fix_03 img {
  opacity: 0;
  /* 開始時不可見 */
  animation-name: fix_pokemon;
  animation-duration: 1.5s;
  animation-delay: 1.1s;
  /* 可選的延遲時間 */
  animation-fill-mode: both;
}

.fix_04 img {
  opacity: 0;
  /* 開始時不可見 */
  animation-name: fix_pokemon;
  animation-duration: 1.5s;
  animation-delay: 1.4s;
  /* 可選的延遲時間 */
  animation-fill-mode: both;
}

.pokemon_img-01 {
  position: absolute;
  width: 9%;
  top: 50%;
  left: 9%;
  transform: translate(-50%, -50%);
}

.pokemon_img-02 {
  position: absolute;
  width: 9%;
  top: 36%;
  left: 17%;
  transform: translate(-50%, -50%);
}

.pokemon_img-03 {
  position: absolute;
  width: 9%;
  top: 64%;
  left: 17%;
  transform: translate(-50%, -50%);
}

.pokemon_img-04 {
  position: absolute;
  width: 9%;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.pokemon_img-05 {
  position: absolute;
  width: 9%;
  top: 36%;
  left: 33%;
  transform: translate(-50%, -50%);
}

.pokemon_img-06 {
  position: absolute;
  width: 9%;
  top: 64%;
  left: 34%;
  transform: translate(-50%, -50%);
}

.pokemon_img-07 {
  position: absolute;
  width: 9%;
  top: 50%;
  right: 1%;
  transform: translate(-50%, -50%);
}

.pokemon_img-08 {
  position: absolute;
  width: 9%;
  top: 36%;
  right: 9%;
  transform: translate(-50%, -50%);
}

.pokemon_img-09 {
  position: absolute;
  width: 9%;
  top: 64%;
  right: 9%;
  transform: translate(-50%, -50%);
}

.pokemon_img-10 {
  position: absolute;
  width: 9%;
  top: 50%;
  right: 17%;
  transform: translate(-50%, -50%);
}

.pokemon_img-11 {
  position: absolute;
  width: 9%;
  top: 36%;
  right: 25%;
  transform: translate(-50%, -50%);
}

.pokemon_img-12 {
  position: absolute;
  width: 9%;
  top: 64%;
  right: 25%;
  transform: translate(-50%, -50%);
}


.small-images a {
  margin: 0 5px;
  /* 根據需要調整小圖之間的間距 */
}

.small-images img {
  max-width: 100%;
  height: auto;
}

/* 3 s */
.pokemon-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -40px;
}

.pokemon-search_title {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  margin-left: 10%;
  margin-bottom: 10px;
  color: #b3eafe;
  text-shadow: 0 0 5px #b3eafe, 0 0 5px #b3eafe;
  font-size: 22px;
}

.pokemon-search_form {
  display: flex;
  position: absolute;
  width: 50%;
  left: 10%;
  max-width: 500px;
}

.pokemon_form_inpu {
  content: "";
  height: 0;
  display: contents;
  padding-top: 7.114%;
}

.search_inpu {
  width: 100%;
  position: absolute;
  left: 62%;
  transform: translate(-50%, -23%);
  border: 0;
  padding: 18px 70px;
  margin: 8px;
  border-radius: 50px 0 0 50px;
}

.pokemon-search_button {
  width: 10%;
  position: absolute;
  right: -48%;
  padding: 5.2px 12px;
  transform: translate(-38%, -6%);
  background-color: #b4ebff;
  border-radius: 0 50px 50px 0;
  box-shadow: 0 0 0px 1px #fff;
  cursor: pointer;
  /*滑鼠樣式*/
}

.pokemon-search_button img {
  width: 70%;
}

.pokemon-search_surp {
  margin-top: 10px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.pokemon-search_surp a {
  width: 28.57142857%;
  right: 8.5%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  top: -15px;
  background: #ffdc00 url(../img/TOP09/icon_surprise.png) 90% 30% no-repeat;
  background-size: auto 70%;
  border-radius: 50px;
  border: 0;
  color: #fff;
  font-size: 25px;
}

.inpu_sub {
  display: none;
  /* 隱藏默認提交按鈕 */
}

/* 3 e */

.pokemon_list_banner {
  width: 100%;
  margin: auto;
  position: relative;
  padding: 0 3.64285714%;
  overflow: hidden;
  box-sizing: border-box;
}

.pokemon_list_banner:hover img{
  opacity: 0.6;
}

.pokemon_list_banner img {
  width: 100%;
  max-width: 100%;
  padding: 1px 0;
  margin: 0 0 15px 0;
  display: block;
  transition: opacity 0.8s ease;
}

.banner_box {
  box-shadow: 0 0 8px #b4ebff, inset 0 0 15px #b4ebff;
  border-radius: 10px;
}

/* 第四部份 S */

.pokemon_list_sub{
  background-position: center;
  position: relative;
  width: 100%;
  margin: auto;
}

.pokemon_search {
  width: 80%;
  margin: auto;
  position: relative;
}

.pokemon-more-search_open {
  padding-top: 3%;
}

.search_open--body--inner {
  display: flex;
  flex-direction: column;
}

.inner-container {
  display: flex;
  flex-direction: row;
  /* 內部水平排列 */
}

.inner-left,
.inner-right {
  flex: 1;
}

.inner-left-title {
  color: #b4ebff;
  border-bottom: 1px solid #b4ebff;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  font-size: 25px;
}

/* 進階左邊 */

.inner-left {
  float: left;
  width: 50%;
  margin: 0 5%;
}

.inner-left-types {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  /* 3 列 */
  grid-gap: 10px;
  /* 選擇間距 */
  text-align: center;
}

.inner-left-types input[type="checkbox"] {
  display: none;
  /* 隱藏每個選項旁邊的選擇框框 */
}

.color_box {
  border-radius: 50px;
  margin: 7%;
  padding: 2px;
}

/* 進階右邊 */
.inner-right {
  width: 50%;
  margin: 0 8% 3% 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.search__block {
  width: 100%;
  border: 2px solid #466e9b;
  border-radius: 1em;
  padding: 30px;
  margin-bottom: 15px;
}

.search_right_title {
  color: #b4ebff;
  font-size: 25px;
  padding-bottom: 2px;
  margin: 0 0 10px 0;
}

.select-wrapper {
  background: #fff url(../img/TOP09/icon_arrow.png) 95% 50% no-repeat;
  background-size: auto 30%;
  border: 0;
  cursor: pointer;
}

#ch_select {
  width: 100%;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 2%;
}

.sliders_control {
  position: relative;
  min-height: 50px;
  background-image: url(../img/TOP09/search_number_connect_bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  appearance: none;
  padding-top: 5px;
  margin: 0px 25px;
}

.form_control {
  position: relative;
  display: flex;
  font-size: 24px;
  color: #b4ebff;
  margin-bottom: 30px;
  align-items: center;
}

.form_control_container {
  margin: 10px;
}

.form_control_container,
.form_control span {
  color: #fff;
}

input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
  color: #8a8383;
  width: 50px;
  height: 30px;
  font-size: 20px;
  border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: transparent;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
  margin: 3px -5px;
}

.inner-bottom {
  width: 92%;
  margin: 20px 0px 20px 4em;
}

.pokemon-more-search_close {
  width: 100%;
  height: 95px;
  margin: auto;
  background-image: url(../img/TOP09/advance_search_close_bg.png);
  background-size: 1400px auto;
  background-repeat: no-repeat;
  cursor: pointer;
}

.pokemon-more-search_close span {
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  color: #fff;
  position: relative;
  top: 20px;
  text-shadow: 1px 1px 3px #fff, -1px -1px 3px #fff;
  font-size: 18px;
}

.pokemon-more-search_close::after {
  content: "";
  height: 0;
  display: block;
}

.inner-bottom-header {
  color: #b4ebff;
  border-bottom: 1px solid #b4ebff;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  font-size: 25px;
}

.inner-bottom-area {
  width: 100%;
  margin: 0 10px 50px 10px;
  display: flex;
  flex-wrap: wrap;
}

.inner-area-box {
  color: #fff;
  border: 1px solid white;
  border-radius: 1em;
  position: relative;
  padding: 3px 1em;
  margin: 1%;
  outline: 0;
  width: 8.7%;
  text-align: center;
}

.inner-bottom-area input[type="checkbox"] {
  display: none;
}

.color_box label,
.inner-area-box label {
  display: block;
  width: 100%;
  cursor: pointer;
}

.inner-bottom-buttons {
  margin-bottom: 20px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.inner-bottom-buttons-left {
  float: left;
  width: 35%;
  color: #b3eafe;
  border-radius: 5em;
  padding: 1% 0;
  cursor: pointer;
  text-shadow: 0 0 5px #b3eafe, 0 0 5px #b3eafe;
  box-shadow: 0 0 2px 1px #b3eafe;
}

.inner-bottom-buttons-right {
  float: right;
  width: 60%;
  background: #b3eafe url(../img/TOP09/icon_magnifying_glass.png) 96% 50% no-repeat;
  padding: 1% 0;
  box-shadow: 0 0 2px 1px #b3eafe;
  border-radius: 50px;
  background-size: auto 60%;
  cursor: pointer;
}

.more_close {
  width: 30%;
  margin-left: 35%;
  margin-top: 20px;
  margin-bottom: 18px;
  padding: 1% 0;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 3px #fff, -1px -1px 3px #fff;
}

.poke-number-header.moved {
  bottom: -45px;
  right: 40px;
}

.poke-more-number{
  position: absolute;
  bottom: 0;
  width: 33.85714286%;
  right: 0;
  z-index: 9999;
  text-align: center;
}

.poke-number-header{
  cursor: pointer;
  background-size: 100% auto;
  height: 70px;
  position: relative;
  width: 100%;
  bottom: -20px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
}

.poke-number-body {
  display: none; 
  width: 100%;
  position: absolute;
  top: 90px;
  left: -40px;
  transition: background-color 0.3s ease;
}

.number-body-open-body{
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.poke-number-body-open{
  width: 100%;
  margin-right: 35px;
}

.poke-number-body.expanded {
  display: block;
  background-image: url('../img/TOP09/sort_open_bg.png');
  background-size: 100% auto;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.poke-number-body-open-item{
  color: #fff;
  width: 86%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  padding: 0.3em 0;
}

.poke-number-body-open-item:hover {
  background-color: #ccc; /* 鼠标悬停时的背景颜色 */
}

.pokemon-list{
  position: relative;
  background-image: url(../img/TOP09/list_bg.jpg);
  background-position: top;
  background-repeat: repeat;
  background-size: 100% auto;
}

.pokemon-list-box{
  max-width: 1400px;
  padding: 1em 3%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-list-box:nth-child(n+2){
  display: none;
}

.pokemon-list-box:nth-child(2)::after {
  content: "";
  display: flex;
  clear: both;
  flex-wrap: wrap;
}

.content_bgi_body{
  position: relative;
  float: none;
  display: block;
  width: calc(25% - 20px); /* 通过减去外边距来避免列之间的间隙 */
  margin: 0 10px;
  height: 550px;
}

.content_bgi{
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background: transparent url(../img/TOP09/list_pokemon_bg.png) 50% 50% no-repeat;
  background-size: auto 90%;
  position: relative;
  height: 500px;
}

.content_bgi img{
  position: absolute;
  width: 60%;
  left: 20%;
  top: 11%;
}

.content_no{
  position: absolute;
  width: 80%;
  left: 10%;
  top: 60%;
  color: #b4ebff;
  font-size: 23px;
}

.content_name{
  position: absolute;
  width: 80%;
  left: 10%;
  top: 65%;
  color: #fff;
  font-size: 28px;
}

.content_subname{
  position: absolute;
  width: 80%;
  left: 10%;
  top: 72%;
  color: #fff;
  font-size: 25px;
}

.content-box{
  display: flex;
  position: absolute;
  top: 85%;
  left: 13%;
  width: 75%;
  list-style: none;
  color: #fff;
}

.content-box div{
  display: block;
  width: 100%;
  text-align: center;
  padding: 1% 2%;
  margin: 0 3%;
}

.load-bigmore-body{
  width: 100%;
  display: block;
  padding-bottom: 3%;
  text-align: center;
}

.loadmore{
  display: block;
  max-width: 385px;
  margin: auto;
  background: transparent url(../img/TOP09/morebtn_bg.png) 50% 50% no-repeat;
  background-size: 100% auto;
}

.load-bigmore{
  position: relative;
  left: 0;
  list-style: none;
  transform: translateY(30%);
  color: #b3eafe;
  height: 51px;
  margin: auto;
  border-radius: 50px;
  text-shadow: 0 0 5px #b3eafe, 0 0 5px #b3eafe;
  font-size: 18px;
}
