header{
    width: 100%;
    height: 60px;
    margin: auto;
    display: flex;
    max-width: 1050px;
    padding-right: 10%;
    align-items: flex-end;
}
body{
    margin: 0;
}
*img{
    width: 100%;
}
*{
    text-decoration: none;
    list-style-type: none;
}

.top_header_box{
    width: 100%;
}
/* 頂端左側圖片 */
.header_body1{
    width: 90%;
    display: flex;
    clear: both;
    align-items: stretch;
}

.header_left{
    width: 25%;
    position: relative;
    top: 5px;
    left: 0px;
}

.header_left img{
    width: 70%;
    max-height: 1170px;
}
h1{
    margin: 0;
}
/* 頂端右側選項 */
.header_right{
    width: 90%;
    position: relative;
    left: -45px;
    top: 5px;
    font-size: 14px;

}
.right_body{
    width: 100%;
    margin: auto;
}

.right_body_list{
    content: "";
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    clear: both;
    align-items: center;
}
.right_body_list li {
    flex: 0 0 12%; /* 將 LI 項目的寬度平均分配 */
    height: 15px; /* 設置 LI 項目的高度 */
    text-align: center; /* 文字居中對齊 */

}
/* TOP1 s */
.right_moviegame{
    color: #03a9f4;
    transition: color 0.5s; /* 添加字體顏色的過渡效果 */
}
.global_right_moviegame {
    padding: 15px 10px;
    margin: 3px;
    border-bottom: 4px solid #03a9f4;
    border-top-left-radius: 5px; /* 左上角設為圓形 */
    border-top-right-radius: 5px; /* 右上角設為圓形 */
    position: relative; /* 添加相對定位 */
    overflow: hidden; 
}
.global_right_moviegame::after {
    content: "";
    position: absolute;
    top: 100%; /* 起始位置在下方 */
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #03a9f4, #03a9f4); /* 從下到上的漸變顏色 */
    /*  linear-gradient 可用於漸變背景、按鈕樣式、分割線 */
    transition: top 0.5s; /* 添加背景顏色的過渡效果 */
    z-index: -1; /* 將漸變背景設置在底層 */
    box-shadow: none; /* 移除透明框 */
}
.global_right_moviegame:hover:after {
    top: 0; /* 滑入時移動至上方 */
}
.global_right_moviegame:hover .right_moviegame {
    color: #ffffff; /* 滑入時字體顏色改變 */
}

/* TOP1 e */
/* TOP2 s */
.right_movie{
    color: #ff9600;
    transition: color 0.5s; /* 添加字體顏色的過渡效果 */
}
.global_right_movie {
    padding: 15px 10px;
    margin: 3px;
    border-bottom: 4px solid #ff9600;
    border-top-left-radius: 5px; /* 左上角設為圓形 */
    border-top-right-radius: 5px; /* 右上角設為圓形 */
    position: relative; /* 添加相對定位 */
    overflow: hidden; /* 隱藏超出部分 */
}
.global_right_movie::after {
    content: "";
    position: absolute;
    top: 100%; /* 起始位置在下方 */
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #ff9600, #ff9600); /* 從下到上的漸變顏色 */
    transition: top 0.5s; /* 添加背景顏色的過渡效果 */
    z-index: -1; /* 將漸變背景設置在底層 */
    box-shadow: none; /* 移除透明框 */
}
.global_right_movie:hover:after {
    top: 0; /* 滑入時移動至上方 */
}
.global_right_movie:hover .right_movie {
    color: #ffffff; /* 滑入時字體顏色改變 */
}
/* TOP2 e */
/* TOP3 s */
.right_product{
    color: #4caf50;
    transition: color 0.5s; /* 添加字體顏色的過渡效果 */
}
.global_right_product {
    padding: 15px 10px;
    margin: 3px;
    border-bottom: 4px solid #4caf50;
    border-top-left-radius: 5px; /* 左上角設為圓形 */
    border-top-right-radius: 5px; /* 右上角設為圓形 */
    position: relative; /* 添加相對定位 */
    overflow: hidden; /* 隱藏超出部分 */
}
.global_right_product::after {
    content: "";
    position: absolute;
    top: 100%; /* 起始位置在下方 */
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #4caf50, #4caf50); /* 從下到上的漸變顏色 */
    transition: top 0.5s; /* 添加背景顏色的過渡效果 */
    z-index: -1; /* 將漸變背景設置在底層 */
    box-shadow: none; /* 移除透明框 */
}
.global_right_product:hover:after {
    top: 0; /* 滑入時移動至上方 */
}
.global_right_product:hover .right_product {
    color: #ffffff; /* 滑入時字體顏色改變 */
}
/* TOP3 e */
/* TOP4 s */
.right_app{
    color: #d405d4;
    transition: color 0.5s; /* 添加字體顏色的過渡效果 */
}
.global_right_app {
    padding: 15px 10px;
    margin: 3px;
    border-bottom: 4px solid #d405d4;
    border-top-left-radius: 5px; /* 左上角設為圓形 */
    border-top-right-radius: 5px; /* 右上角設為圓形 */
    position: relative; /* 添加相對定位 */
    overflow: hidden; /* 隱藏超出部分 */
}
.global_right_app::after {
    content: "";
    position: absolute;
    top: 100%; /* 起始位置在下方 */
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #d405d4, #d405d4); /* 從下到上的漸變顏色 */
    transition: top 0.5s; /* 添加背景顏色的過渡效果 */
    z-index: -1; /* 將漸變背景設置在底層 */
    box-shadow: none; /* 移除透明框 */
}
.global_right_app:hover:after {
    top: 0; /* 滑入時移動至上方 */
}
.global_right_app:hover .right_app {
    color: #ffffff; /* 滑入時字體顏色改變 */
}
/* TOP4 e */
/* TOP5 s */
.right_game{
    color: #f31818;
    transition: color 0.5s; /* 添加字體顏色的過渡效果 */
}
.global_right_game {
    padding: 15px 10px;
    margin: 3px;
    border-bottom: 4px solid #f31818;
    border-top-left-radius: 5px; /* 左上角設為圓形 */
    border-top-right-radius: 5px; /* 右上角設為圓形 */
    position: relative; /* 添加相對定位 */
    overflow: hidden; /* 隱藏超出部分 */
}
.global_right_game::after {
    content: "";
    position: absolute;
    top: 100%; /* 起始位置在下方 */
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #f31818, #f31818); /* 從下到上的漸變顏色 */
    transition: top 0.5s; /* 添加背景顏色的過渡效果 */
    z-index: -1; /* 將漸變背景設置在底層 */
    box-shadow: none; /* 移除透明框 */
}
.global_right_game:hover:after {
    top: 0; /* 滑入時移動至上方 */
}
.global_right_game:hover .right_game {
    color: #ffffff; /* 滑入時字體顏色改變 */
}
/* TOP5 e */
/* TOP6 s */
.right_activity{
    color: chocolate;
    transition: color 0.5s; /* 添加字體顏色的過渡效果 */
}
.global_right_activity {
    padding: 15px 10px;
    margin: 3px;
    border-bottom: 4px solid chocolate;
    border-top-left-radius: 5px; /* 左上角設為圓形 */
    border-top-right-radius: 5px; /* 右上角設為圓形 */
    position: relative; /* 添加相對定位 */
    overflow: hidden; /* 隱藏超出部分 */
}
.global_right_activity::after {
    content: "";
    position: absolute;
    top: 100%; /* 起始位置在下方 */
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, chocolate, chocolate); /* 從下到上的漸變顏色 */
    transition: top 0.5s; /* 添加背景顏色的過渡效果 */
    z-index: -1; /* 將漸變背景設置在底層 */
    box-shadow: none; /* 移除透明框 */
}
.global_right_activity:hover:after {
    top: 0; /* 滑入時移動至上方 */
}
.global_right_activity:hover .right_activity {
    color: #ffffff; /* 滑入時字體顏色改變 */
}
/* TOP6 e */
/* TOP7 s */
.right_cardgame{
    color: #3f51b5;
    transition: color 0.5s; /* 添加字體顏色的過渡效果 */
}
.global_right_cardgame {
    padding: 15px 10px;
    margin: 3px;
    border-bottom: 4px solid #3f51b5;
    border-top-left-radius: 5px; /* 左上角設為圓形 */
    border-top-right-radius: 5px; /* 右上角設為圓形 */
    position: relative; /* 添加相對定位 */
    overflow: hidden; /* 隱藏超出部分 */
}
.global_right_cardgame::after {
    content: "";
    position: absolute;
    top: 100%; /* 起始位置在下方 */
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #3f51b5, #3f51b5); /* 從下到上的漸變顏色 */
    transition: top 0.5s; /* 添加背景顏色的過渡效果 */
    z-index: -1; /* 將漸變背景設置在底層 */
    box-shadow: none; /* 移除透明框 */
}
.global_right_cardgame:hover:after {
    top: 0; /* 滑入時移動至上方 */
}
.global_right_cardgame:hover .right_cardgame {
    color: #ffffff; /* 滑入時字體顏色改變 */
}
/* TOP7 e */
/* TOP8 s */
.right_news{
    color: #e9425e;
    transition: color 0.5s; /* 添加字體顏色的過渡效果 */
}
.global_right_news {
    padding: 15px 10px;
    margin: 3px;
    border-bottom: 4px solid #e9425e;
    border-top-left-radius: 5px; /* 左上角設為圓形 */
    border-top-right-radius: 5px; /* 右上角設為圓形 */
    position: relative; /* 添加相對定位 */
    overflow: hidden; /* 隱藏超出部分 */
}
.global_right_news::after {
    content: "";
    position: absolute;
    top: 100%; /* 起始位置在下方 */
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #e9425e, #e9425e); /* 從下到上的漸變顏色 */
    transition: top 0.5s; /* 添加背景顏色的過渡效果 */
    z-index: -1; /* 將漸變背景設置在底層 */
    box-shadow: none; /* 移除透明框 */
}
.global_right_news:hover:after {
    top: 0; /* 滑入時移動至上方 */
}
.global_right_news:hover .right_news {
    color: #ffffff; /* 滑入時字體顏色改變 */
}
/* TOP8 e */

.global_right_book{
    width: 100%;
    border-left: 1px solid rgb(197, 193, 193);
    border-right: 1px solid rgb(197, 193, 193);
    position: relative;
    display: flex;
    justify-content: center; /* 水平置中對齊 */
    align-items: center; /* 垂直置中對齊 */
}
.top_img_box{
    width: 50px;
    padding-right: 10px;
    flex-shrink: 0; /* 防止圖片縮小 */
}
.rightmost_box{
    content: "";
    width: auto;
    margin: 2% 10px 2% 5px;
    display: flex; 
    clear: both;
    align-items: center;
    color: black;
}
.rightmost_box span {
    white-space: nowrap; /* 避免文字換行 */
}

/* 頁尾 */
/* 上排 */

footer{
    display: block;
}

.top_footer_box{
    width: 100%;
    background-color: white;
}
.top_footer{
    width: 50%;
    padding-left: 140px;
    margin: auto;
    display: flex;
}
@media (max-width: 1550px) {
    .top_footer{
        width: 100%;
    }
}
.top_footer_body{
    width: 100%;
    margin: auto;
    display: flex;
    position: relative;
}

.left_top_footer, .right_top_footer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.left_top_footer{
    text-align: left;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_img_box img{
    width: 100%;
    border-radius: 6%;
}
.footer_img_box{
    content: "";
    display: flex;
    width: 70%;
    margin: 1%;
    padding: 1%;
}
.right_top_footer{
    text-align: right;
}
.right_top_footer_link{
    padding: 3px;
}

.src_box{
    content: "";
    width: 50%;
    padding: 1%;
}

.src_box img , .right_top_footer_link img {
    opacity: 1; /* 默認完全不透明 */
    transition: opacity 0.3s ease; /* 添加過度效果 */
}

.src_box:hover img , .right_top_footer_link:hover img{
    opacity: 0.3; /* 滑入時透明度為 0.3 */
}

/* 下排 */
.down_footer{
    background-color: black;
}
.down_footer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between; /* 將內容平均分布在兩端 */
    align-items: flex-start; /* 垂直方向頂部對齊 */
    position: absolute;
}
.down_footer_body {
    order: 1;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    flex-wrap: wrap;
}
.footer_links_one {
    order: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 92%;
}

.footer_links_one ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.footer_links_one ul li {
    list-style: none;
    margin: 20px 20px 20px 0;
    padding: 0 12px 0 0;
    border-right: 1px solid white;
}

.footer_links_one ul li:last-child {
    margin-right: 0; /* 最後一個列表項目不需要右邊的間距 */
    border-right: 0px;
}

.footer_links_one ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-align: center;
}
.footer_links_one ul li a:hover {
    color: rgb(160, 160, 160);
}
.down_footer_only {
    order: 3;
    right: 0; /* 位于右侧 */
    top: 30px;
    position: relative; /* 使用相对定位 */
    border: 1px solid #a5a5a5;
    background-color: #a5a5a5;
    width: 75px;
    height: 32px;
    border-radius: 20px;
    display: flex; /* 使用 flexbox 布局 */
    justify-content: center; /* 在主轴上居中 */
    align-items: center; /* 在交叉轴上居中 */
}

.down_footer_only ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.down_footer_only ul li a span {
    color: white; 
    font-size: 13px;
}
.down_footer_only:hover{
    background-color: rgb(204, 204, 204);
}

.down_footer_bottom {
    order: 4;
    width: 98%;
    margin-bottom: 20px;
    text-align: left; /*文字向左對齊*/
    color: #737374;
}